@import "./weui.less";
page {
  height: 100%;
  font-family: PingFangSC-Regular;
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
  color: transparent;
  display: none;
}
.page_title {
  font-size: 34rpx;
}
.page_subTitle {
  font-size: 28rpx;
}
button {
  &:after {
    border: none;
  }
  &:active {
    width: 100%;
    height: 80rpx;
    opacity: 0.5;
  }
}
.footer-btn {
  width: 70%;
  margin: 60rpx auto;
  button {
    height: 80rpx;
    background: #ededed;
    border-radius:43rpx;
    color: #666666;
    font-size: 30rpx;
    border: none;
    &.btn {
      color: #ffffff;
      background: #f56666;
    }
  }
}