.send-header {
  padding: 20rpx 0 50rpx;
  text-align: center;
  .cancel-icon {
    height: 220rpx;
    width: 250rpx;
    margin: 0 auto;
  }
  .send-tip {
    padding-top: 20rpx;
    line-height: 50rpx;
    color: #000000;
    font-size: 36rpx;
    text-align: center;
    // text {
    //   margin-right: 20rpx;
    // }
    .tip-text {
      font-size: 28rpx;
      color: #999999;
    }
  }
}