.send_view {
  height: 100%;
  .page_content {
    overflow: auto;
    height: calc(100% - 100px);
  }
  .order-text {
    color: #333333;
  }
  .no_border {
    border-bottom: none;
  }
  .order-header {
    &.order-row {
      margin-left: 36rpx;
      padding: 36rpx 36rpx 36rpx 0;
    }
    .order-left {
      width: 60rpx;
      height: 60rpx;
      border-radius: 50%;
      font-size: 30rpx;
      color: #ffffff;
      background: #f56666;
      line-height: 60rpx;
    }
    .order-right {
      font-size: 32rpx;
      color: #000000;
      margin-left: 30rpx;
      line-height: 56rpx;
      flex: 1;
      &.order-right-default {
        color: #999999;
      }
      .order-contactName {
        text {
          margin-right: 40rpx;
        }
      }
      .order-address {
        font-size: 28rpx;
        color: #666666;
        line-height: 36rpx;
      }
    }
    &.order-header1 {
      &.order-row {
        margin-left: 0;
        padding: 34rpx 36rpx;
      }
      .order-left {
        background: #f0f0f0;
        color: #666666;
      }
    }
  }
  .order-row {
    color: #333333;
    padding: 34rpx 36rpx;
    font-size: 30rpx;
    border-bottom: 1px solid #f0f0f0;
    &.sample-row {
      padding: 30rpx 36rpx ;
    }
    .label-left {
      color: #666666;
    }
  }
  .order_content {
    border-bottom: 20rpx solid #f5f6f8;
  }
}