var statusList = [
  {
    label: '样本待回寄',
    value: 0,
    btnText: '预约回寄'
  },
   {
    label: '样本回寄中',
    value: 1,
    btnText: '查看详情'
  },
  {
    label: '报告出具中',
    value: 2,
    btnText: '查看详情'
  },
  {
    label: '报告已完成',
    value: 3,
    btnText: '查看报告'
  }
]
statusText = function(val) {
  var label
  statusList.forEach(function(item) {
    if (val == item.value) {
      label = item.label
    }
  })
  return label || ''
},
btnText = function(val) {
  var btnText
  statusList.forEach( function(item) {
    if (val == item.value) {
      btnText = item.btnText
    }
  })
  return btnText || ''
}
module.exports = {
  statusText: statusText,
  btnText: btnText
}